<div class="container text-center">
    <br />
    <br />
    <h3 class="display-4" style="font-family: Rockwell">
        Registro completado con éxito. Da click en el botón para ir a tu cuenta o bien navega por el menú en la parte superior.
    </h3>
    <br />
    <br />
    <a class="btn btn-dark text-center align-self-center btn-lg btn-block" role="button" aria-pressed="true" asp-controller="Home" asp-action="Index">Regresar a inicio</a>
</div>