@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-3" style="font-family: Rockwell">
        <small class="text-muted">Bienvenido a la pagina del juego</small>
        Atasco de trafico
    </h1>

    <br />
    <br />
    <div class="container-fluid">
        <div>
            <details class="text-left" open>
                <summary class="" style="font-family:Rockwell; font-size:28px">
                    Sobre el juego
                </summary>
                <br />
                <p style="font-family:'Times New Roman', Times, serif; text-align:justify;">
                    Un joven tiene que entregar los paquetes a tiempo en su ciudad cueste lo que cueste. El joven con su carro tendrá que entregar los paquetes con la dificultad de que algunos carros se crucen en su camino. Esto desata situaciones interesantes en donde el joven tendrá que entregar los paquetes en el tiempo requerido sin chocar con los otros carros.
                </p>
            </details>
        </div>

        <br />
        <br />

        <div>
            <details class="text-left" open>
                <summary class="display-4" style="font-family: Rockwell; font-size: 28px">
                    Reglas del juego
                </summary>
                <br />
                <p style="font-family:'Times New Roman', Times, serif; text-align:justify">
                    El carro que será controlado por el jugador podrá acelerar y frenar. El jugador podrá tomar diversas vueltas en cada intersección o bien seguir derecho sin tomar ninguna vuelta. Las flechas dentro de las intersecciones indican a donde puede dar la vuelta el carro. El punto del juego es recolectar cuantos más paquetes se puedan evitando chocar con los otros carros que siguen las reglas de conducir mientras que el tiempo para hacer la siguiente entrega del paquete disminuye.
                </p>
            </details>
        </div>

        <br />
        <br />

        <div>
            <details class="text-left" open>
                <summary class="display-4" style="font-family: Rockwell; font-size: 28px">
                    Controles
                </summary>
                <br />
                <p style="font-family:'Times New Roman', Times, serif; text-align:justify">
                    El jugador podrá usar las flechas del teclado para tomar las vueltas que desee dentro de las intersecciones. De igual manera el jugador podrá dejar presionada la tecla “E” para acelerar o la “Q” para frenar.
                </p>
            </details>
        </div>


        <br />
        <br />
        
    </div>


</div>
