@{
    ViewData["Title"] = "Juego";
}
    <div class="embed-responsive embed-responsive-16by9 align-text-top text-center"   >
        <iframe src="/AtascoDeTraficoWebGLFinal/index.html" class="embed-responsive-item align-top align-text-top"></iframe>
    </div>
